@font-face {
    font-family: gohu14;
    src: url('fonts/gohufont-14.pcf');
}

@font-face {
    font-family: gohu14b;
    src: url('fonts/gohufont-14b.pcf');
}

@font-face {
    font-family: gohu14-uni;
    src: url('fonts/gohufont-uni-14b.pcf');
}

@font-face {
    font-family: gohu14b-uni;
    src: url('fonts/gohufont-uni-14b.pcf');
}

@font-face {
    font-family: gohu14ttf-b;
    src: url('fonts/GohuFont-Bold.ttf');
}

@font-face {
    font-family: gohu14ttf-m;
    src: url('fonts/GohuFont-Medium.ttf');
}

* {
    font-family: gohu14ttf-m;
}
